body {
  margin: 0;
  text-align: center;
  font-family: "Merriweather", serif;
}
h1 {
  font-family: "Noto Sans KR", sans-serif;
  color: #333333;
  padding-top: 30px;
}

.first-container {
  display: flex;

  justify-content: center;
  margin: 50px 0;
}
.second-container {
  display: flex;

  justify-content: center;
  margin: 50px 0;
}
.third-container {
  margin: 50px 0 50px 0;
}
.laos1 {
  width: 30%;
  object-fit: cover;
  height: 450px;
  float: left;
  margin-left: 30px;
}
.laos2 {
  width: 30%;
  object-fit: cover;
  height: 450px;
  float: left;
  margin-left: 30px;
  margin-right: 30px;
}
.laos3 {
  width: 30%;
  object-fit: cover;
  height: 450px;
  float: right;
  margin-right: 30px;
}

.cafe {
  width: 30%;
  object-fit: cover;
  height: 450px;
  float: left;
  margin-left: 30px;
}
.uniqlo1 {
  width: 30%;
  object-fit: cover;
  height: 450px;
  float: left;
  margin-left: 30px;
  margin-right: 30px;
}
.arket {
  width: 30%;
  object-fit: cover;
  height: 450px;
  float: right;
  margin-right: 30px;
}
